<div class="row">
    <aside class="col-md-3">
          <h2>Stay connected with us!</h2>
          <p>Follow us on social medias and stay connected with us!</p>
          <h2>Coming Soon</h2>
          <p>
            We are thrilled to announce that we will soon be expanding into real
            estate operations! Starting soon, we’ll be offering a range of real
            estate services to help you find your dream property or make the
            most of your investments.
          </p>
          <img src="/img/logo-realstate.webp" width="90%" alt="logo" />
        </aside>
    <section class="main col-md-9">
          <article>
            <h2>Our story</h2>
            <p>
              We started our store in Summer 2024 as a Tennis store for WEB222 -
              Assignment 04, offering a wide selection of high-quality tennis
              gear and accessories. Now, we have expanded our operations to
              serve a much broader range of needs. Our store has grown to
              include categories like Home & Garden, Electronics, Clothing,
              Sports & Outdoors, and Pet Supplies, catering to customers from
              all walks of life.
            </p>
            <p>
              While our roots are in tennis, our commitment to quality and
              customer satisfaction remains the same as we grow. Today, we are
              proud to offer an extensive collection of products that fit into
              your everyday life—whether you’re upgrading your gadgets, shopping
              for new clothing, improving your home and garden, or simply
              finding the best products for your pets.
            </p>
            <p>
              We thank our customers for being part of this journey and look
              forward to continuing to serve you with a wide range of products
              and unmatched customer service.
            </p>
          </article>
        </section>
</div>
